name: Release a version of a module if the terraform apply passes

on:
  workflow_call:
    inputs:
      tfc_deployer_container_version:
        description: Version tag for the Terraform Cloud deployer container image
        required: false
        type: string
        default: 0.1.1
      tf_examples_dirs:
        description: List of directories to test (JSON array format)
        required: false
        type: string
        default: '["examples/test_app"]'
      destroy:
        description: Destroy resources. Set to false to stop cleanup at the end of the apply job
        required: false
        type: boolean
        default: true
      environment:
        description: Github environment to attach with extra variables
        required: false
        type: string
        default: ""
    outputs:
      terraform-file-changes-result:
        description: "Output from terraform-file-changes GH Actions"
        value: ${{ jobs.terraform-file-changes.outputs.result }}

jobs:
  terraform-file-changes:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.terraform-file-changes.outputs.terraform }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: terraform-file-changes
        with:
          filters: |
            terraform:
              - '**/*.tf'

  tf-apply:
    if: ${{ needs.terraform-file-changes.outputs.result == 'true' }}
    needs: [terraform-file-changes]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tf_examples_dirs: ${{ fromJson(inputs.tf_examples_dirs) }}
      fail-fast: false
    environment: ${{ inputs.environment }}
    env:
      AWS_ACCESS_KEY_ID: ${{ vars.MODULE_TESTER_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.MODULE_TESTER_AWS_SECRET_ACCESS_KEY }}
      TF_VAR_checkly_account_id: $${{ vars.CHECKLY_ACCOUNT_ID }}
      TF_VAR_checkly_api_key: ${{ secrets.CHECKLY_API_KEY }}
    defaults:
      run:
        working-directory: ${{ matrix.tf_examples_dirs }}
    container: ghcr.io/guidionops/terraform-cloud-deployer:${{ inputs.tfc_deployer_container_version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Terraform init
        run: terraform init
      - name: Run terraform apply with auto-approval
        run: terraform apply -auto-approve
      - name: Destroy all resources
        if: always() && inputs.destroy
        run: terraform destroy -auto-approve
  # This is needed because matrix tests have dynamic workflow names based on the
  # folder name. This is something we cannot make a required test from. Because
  # skipped tests are marked as succesfull in GitHub required test, we test here
  # if it was succesfully run and then mark it as such, if it's skipped or fails
  # then it's marked as failed.
  tf-apply-completed:
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    needs: [terraform-file-changes, tf-apply]
    outputs:
      tf-apply-result: ${{ needs.tf-apply.result }}
    steps:
      - name: No Terraform changes, or Terraform applied successfully
        id: workflow-or-terraform-change
        if: ${{ (needs.terraform-file-changes.outputs.result == 'false')  || (needs.tf-apply.result  == 'success') }}
        run: exit 0
      - name: Non-terraform change, or terraform apply failed
        if: failure() || steps.workflow-or-terraform-change.outcome != 'success'
        run: exit 1

  merge-into-master:
    if: ${{ always() && (needs.tf-apply.result == 'success' || needs.tf-apply.result == 'skipped') }}
    needs: [tf-apply, tf-apply-completed]
    uses: guidion-digital/release-workflows/.github/workflows/github-merge-into-master.yaml@v2
    with:
      branch: ${{ github.ref_name }}
    permissions:
      contents: write

  release-tag:
    if: ${{ needs.tf-apply.result == 'success' && needs.merge-into-master.result == 'success' }}
    needs: [tf-apply, merge-into-master]
    uses: guidion-digital/release-workflows/.github/workflows/github-release-tag.yaml@v2
    with:
      branch: ${{ github.ref_name }}
    permissions:
      contents: write
