name: Test PRs by running Terraform plans

# N.B. When relying on this workflow as a required check, you must use the
# exact name: '[YOUR JOB NAME] / completed'

on:
  workflow_call:
    inputs:
      tf_examples_dirs:
        description: List of directories to test (JSON array format)
        required: false
        type: string
        default: '["examples/test_app"]'
      destroy:
        description: Destroy resources. Set to false to stop cleanup at the end of the apply job
        required: false
        type: boolean
        default: true
      environment:
        description: Github environment to attach with extra variables
        required: false
        type: string
        default: ""
    outputs:
      terraform-file-changes-result:
        description: "Output from terraform-file-changes GH Actions"
        value: ${{ jobs.terraform-file-changes.outputs.result }}

jobs:
  test-workflow:
    uses: guidion-digital/release-workflows/.github/workflows/github-test-workflow.yaml@v2
    permissions:
      pull-requests: write
      contents: read

  terraform-file-changes:
    needs: test-workflow
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.terraform-file-changes.outputs.terraform }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: terraform-file-changes
        with:
          filters: |
            terraform:
              - '**/*.tf'

  tests-plan:
    if: ${{ needs.terraform-file-changes.outputs.result == 'true' }}
    needs: [terraform-file-changes]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    strategy:
      matrix:
        tf_examples_dirs: ${{ fromJson(inputs.tf_examples_dirs) }}
      fail-fast: false
    environment: ${{ inputs.environment }}
    env:
      AWS_ACCESS_KEY_ID: ${{ vars.MODULE_TESTER_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.MODULE_TESTER_AWS_SECRET_ACCESS_KEY }}
      # TF_VAR_checkly_account_id: ${{ vars.TF_VAR_CHECKLY_ACCOUNT_ID }}
      # TF_VAR_checkly_api_key: ${{ secrets.TF_VAR_CHECKLY_API_KEY }}
    defaults:
      run:
        working-directory: ${{ matrix.tf_examples_dirs }}
    container: ghcr.io/guidionops/terraform-cloud-deployer:0.1.1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: See env values
        run: printenv
      - name: Terraform init
        run: terraform init
      - name: Run terraform plan with auto-approval
        run: terraform plan
  # This is needed because matrix tests have dynamic workflow names based on the
  # folder name. This is something we cannot make a required test from. Because
  # skipped tests are marked as succesfull in GitHub required test, we test here
  # if it was succesfully run and then mark it as such, if it's skipped or fails
  # then it's marked as failed.
  completed:
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    needs: [terraform-file-changes, tests-plan]
    outputs:
      tf-apply-result: ${{ needs.tests-plan.result }}
    steps:
      - name: No Terraform changes, or Terraform plan was successful
        id: workflow-or-terraform-change
        if: ${{ (needs.terraform-file-changes.outputs.result == 'false')  || (needs.tests-plan.result  == 'success') }}
        run: exit 0
      - name: Non-terraform change, or terraform plan failed
        if: failure() || steps.workflow-or-terraform-change.outcome != 'success'
        run: exit 1

  release-dry-run:
    if: ${{ always() && needs.tests-plan.result == 'success' }}
    needs: tests-plan
    uses: guidion-digital/release-workflows/.github/workflows/github-release-tag-dry-run.yaml@v2
    with:
      branch: ${{ github.ref_name }}
